header{
    background-color: blue;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 70px;
    width: 600px;
    margin: auto;


}
li{
    font-style: italic;
}
body{
    background-color:bisque

}

main{
    padding: 40px;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}